@model FactoringSurvey.Models.SurveyResponse

@{
    Layout = null;
}

@using FactoringSurvey.Models;


@{
        var gradeCaption = new Func<int, string>((gradeIndex) =>
        {
            switch (gradeIndex)
            {
                case 0:
                case 4:
                case 5:
                case 6:
                case 7:
                case 8:
                case 9:
                case 10:
                case 11:
                case 12:
                    return string.Format("{0}<sup>th</sup>", gradeIndex);
                case 1:
                    return "1<sup>st</sup>";
                case 2:
                    return "2<sup>nd</sup>";
                case 3:
                    return "3<sup>rd</sup>";
                case 13:
                    return "College and higher";
                default:
                    return gradeIndex.ToString();

            }
        });

        var agreeScaleCaption = new Func<int, string>((scale)=>
        {
            switch(scale)
            {
                case 5: return "Strongly Agree";
                case 4: return "Agree";
                case 3: return "Neutral";
                case 2: return "Disagree";
                case 1: return "Strongly Disagree";
                default: return "Neutral";

            }
        });

        var alwaysScaleCaption = new Func<int, string>((scale) =>
        {
            switch (scale)
            {
                case 5: return "Always";
                case 4: return "Usually";
                case 3: return "About half the Time";
                case 2: return "Rarely";
                case 1: return "Never";
                default: return "Always";

            }
        });

        var effectiveScaleCaption = new Func<int, string>((scale) =>
        {
            switch (scale)
            {
                case 4: return "Effective";
                case 3: return "Mixed Results";
                case 2: return "I do not know";
                case 1: return "Not effective";
                case 0: return "Not used";
                default: return "???";

            }
        });

        var scalingLabel = "nopadding col col-lg-4 col-md-12 col-sm-12 col-xs-12";
        var scalingRadio = "nopadding col col-lg-1 col-md-4 col-sm-4 col-xs-12";
        var gridClassAllColumns = "nopadding col col-lg-12 col-md-12 col-sm-12 col-xs-12";
        var allColumns = gridClassAllColumns;

        var colByGrade = new Func<int, string>((grade)=>(grade==SurveyResponse.GradeCount - 1) ? "col col-lg-3 col-md-3 col-sm-12 col-xs-12" : "col col-lg-1 col-md-3 col-sm-12 col-xs-12");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Form</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style type="text/css">
        .radio-inline + .radio-inline {
            margin-left: 16px;
        }
        .radio-inline {
            margin-left: 16px; 
            }
        .checkbox-inline + .checkbox-inline {
            margin-left: 16px;
        }
        .checkbox-inline {
            margin-left: 16px; 
            }

        .nobold {
            font-weight:normal;
        }

		.nobold label {
			font-weight:normal;
		}
		input.form-control {
            font-weight:normal;
		}

		.primary-question {
            font-weight:700;
			margin-left:0;
			padding-left:0;
		}
		.secondary-question {
            font-weight:400;
			margin-left:4px;
			padding-left:0;
		}
		.secondary-question label {
			font-weight:normal;
		}
		.tertiary-question {
            font-weight:400;
			margin-left:8px;
			padding-left:0;
		}

		.nopadding{
			padding-left:0;
		}

    </style>


</head>
<body>
    <div class="panel panel-success container">
        <div class="panel-heading text-center">
            Survey
        </div>
        <div class="panel-body text-center">
            <em>For teachers, educators and researchers who have an opinion about teaching factoring trinomials</em>
        </div>
    </div>

    <form class="p-a-1" asp-action="SurveyForm" method="post">

        <div asp-validation-summary="All"></div>

		<div class="panel panel-primary container">
			<div class="panel-heading text-left">
				Part 1. Background information
			</div>
            <div class="panel-body">

                <div class="form-group row">
                    <label asp-for="Name" class="primary-question">1. Your name:</label>
                    <input class="form-control" asp-for="Name" placeholder="Your name" />
                </div>

                <div class="form-group row">
                    <label asp-for="Country" class="primary-question">2. Your country:</label>
                    <input class="form-control" asp-for="Country" placeholder="Your country" />
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="primary-question">3. Your email:</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Your email" />
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns primary-question" asp-for="Gender">4. Your gender:</label>
                    @foreach (var opt in EnumOptions.Genders){
                        <label class="radio-inline col-lg-1 col-md-2 col-sm-12 col-xs-12">@Html.RadioButtonFor(m=>m.Gender, @opt.Value)@opt.Description</label>}
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns primary-question" asp-for="Age">5. Your age:</label>
                    @foreach (var opt in EnumOptions.Ages){
                        <label class="radio-inline col-lg-1 col-md-2 col-sm-12 col-xs-12">@Html.RadioButtonFor(m=>m.Age, @opt.Value)@opt.Description</label>}
                </div>

                <div class="form-group row">
                    <label asp-for="SchoolName" class="primary-question">6. Your current school name:</label>
                    <input class="form-control" asp-for="SchoolName" placeholder="Current school name" />
                </div>

                <div class="form-group row">
                    <label asp-for="MathQualification" class="primary-question">7. Your highest qualification to teach mathematics:</label>
                    <input class="form-control" asp-for="MathQualification" placeholder="Your qualification" />
                </div>

                <div class="form-group row">
                    <label class="primary-question">8. Which of the following university level courses did you take before becoming a mathematics teacher (check all that apply):</label>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookMathForSecondary)Math for secondary teachers</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookMathForHighSchool)Math for high school</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookGeometryForTeachers)Geometry for teachers</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookMathMethods)Math methods course</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookPrecalculus)Pre-calculus</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookCalculus1)Calculus I</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookCalculus2)Calculus II</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookCalculus3)Calculus III</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookMathHistory)History of Mathematics</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TookAbstractAlgebra)Abstract Algebra</label></div>
                </div>

                <div class="form-group row">
                    <label asp-for="YearsOfTeachingMath" class="primary-question">9. How many years have you taught mathematics?<input class="form-control" asp-for="YearsOfTeachingMath" placeholder="Years of teaching math" /></label>
                    
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns primary-question">10. What grade have you taught mathematics (check all that apply):</label>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade6)@Html.Raw(gradeCaption(6))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade7)@Html.Raw(gradeCaption(7))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade8)@Html.Raw(gradeCaption(8))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade9)@Html.Raw(gradeCaption(9))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade10)@Html.Raw(gradeCaption(10))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade11)@Html.Raw(gradeCaption(11))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtGrade12)@Html.Raw(gradeCaption(12))</label></div>
                    <div class="checkbox"> <label class="secondary-question">@Html.CheckBoxFor(m => m.TaughtCollege)@Html.Raw(gradeCaption(13))</label></div>
                </div>

                <div class="form-group row">
                    <label class="primary-question">11. What course(s) are you currently teaching (check all that apply):</label>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseBasic)Basic Math</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCoursePreAlgebra)Pre-Algebra</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseAlgebra1)Algebra 1</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseIntegrated)Integrated Math</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseAlgebra2)Algebra 2</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCoursePreCalculus)Pre-Calculus</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseCalculus)Calculus</label></div>
                    <div class="checkbox"><label class="secondary-question">@Html.CheckBoxFor(m=> m.TeachingCourseProbability)Probability and Statistics</label></div>
                    <label asp-for="CourseOther"class="nobold">Other:</label>
                    <input class="form-control" asp-for="CourseOther" placeholder="Other course(s)" />
                </div>
            </div>
        </div>

		<div class="panel panel-primary container">
			<div class="panel-heading text-left">
				Part 2. Teaching factoring trinomials: current and past experience of teachers.
			</div>
			<div class="panel-body">

                <div class="form-group row">
					<label class="primary-question">12. How many years have you taught trinomials?</label>
				</div>

				<div class="form-group row secondary-question">
					<div class="checkbox"><label>@Html.CheckBoxFor(m => m.NotTaughtTrinomials)No, I have not taught factoring trinomials before</label></div>
					<label class="@gridClassAllColumns nobold">If yes, put numbers of years next to courses below and corresponding grade levels:</label>
				</div>
				<div class="form-group row secondary-question">
					<label asp-for="TaughtFactoringInAlgebra1Years">Algebra 1 (# of years):<input class="form-control" asp-for="TaughtFactoringInAlgebra1Years" /></label>
					<label class="@allColumns">Specify grades:</label>

					<label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade6)@Html.Raw(gradeCaption(6))</label>
					<label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade7)@Html.Raw(gradeCaption(7))</label>
					<label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade8)@Html.Raw(gradeCaption(8))</label>
					<label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade9)@Html.Raw(gradeCaption(9))</label>
					<label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade10)@Html.Raw(gradeCaption(10))</label>
					<label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade11)@Html.Raw(gradeCaption(11))</label>
					<label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra1Grade12)@Html.Raw(gradeCaption(12))</label>
					<label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra1College)@Html.Raw(gradeCaption(13))</label>
				</div>

				<div class="form-group row secondary-question">
					<label asp-for="TaughtFactoringInAlgebra2Years">Algebra 2 (# of years):<input class="form-control" asp-for="TaughtFactoringInAlgebra2Years" /></label>
					<label class="@allColumns">Specify grades:</label>
					<label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade6)@Html.Raw(gradeCaption(6))</label>
					<label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade7)@Html.Raw(gradeCaption(7))</label>
					<label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade8)@Html.Raw(gradeCaption(8))</label>
					<label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade9)@Html.Raw(gradeCaption(9))</label>
					<label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade10)@Html.Raw(gradeCaption(10))</label>
					<label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade11)@Html.Raw(gradeCaption(11))</label>
					<label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra2Grade12)@Html.Raw(gradeCaption(12))</label>
					<label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m => m.TaughtInAlgebra2College)@Html.Raw(gradeCaption(13))</label>
				</div>

				<div class="form-group row secondary-question">
					<label asp-for="TaughtFactoringInPrecalculusYears">Pre-Calculus (# of years):<input class="form-control" asp-for="TaughtFactoringInPrecalculusYears" /></label>
					<label class="@allColumns">Specify grades:</label>
					<label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade6)@Html.Raw(gradeCaption(6))</label>
					<label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade7)@Html.Raw(gradeCaption(7))</label>
					<label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade8)@Html.Raw(gradeCaption(8))</label>
					<label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade9)@Html.Raw(gradeCaption(9))</label>
					<label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade10)@Html.Raw(gradeCaption(10))</label>
					<label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade11)@Html.Raw(gradeCaption(11))</label>
					<label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m => m.TaughtInPrecalculusGrade12)@Html.Raw(gradeCaption(12))</label>
					<label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m => m.TaughtInPrecalculusCollege)@Html.Raw(gradeCaption(13))</label>
				</div>

				<div class="form-group row secondary-question">
					<label asp-for="TaughtFactoringInCalculusYears">Calculus (# of years):<input class="form-control" asp-for="TaughtFactoringInCalculusYears" /></label>
					<label class="@allColumns">Specify grades:</label>
					<label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m => m.TaughtInCalculusGrade6)@Html.Raw(gradeCaption(6))</label>
					<label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m => m.TaughtInCalculusGrade7)@Html.Raw(gradeCaption(7))</label>
					<label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m => m.TaughtInCalculusGrade8)@Html.Raw(gradeCaption(8))</label>
					<label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m => m.TaughtInCalculusGrade9)@Html.Raw(gradeCaption(9))</label>
					<label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m => m.TaughtInCalculusGrade10)@Html.Raw(gradeCaption(10))</label>
					<label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m => m.TaughtInCalculusGrade11)@Html.Raw(gradeCaption(11))</label>
					<label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m => m.TaughtInCalculusGrade12)@Html.Raw(gradeCaption(12))</label>
					<label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m => m.TaughtInCalculusCollege)@Html.Raw(gradeCaption(13))</label>
				</div>

				<div class="form-group row secondary-question">
					<label asp-for="TaughtFactoringInOtherYears">Other (# of years):<input class="form-control" asp-for="TaughtFactoringInOtherYears" /></label>
					<label class="nobold" asp-for="TaughtFactoringInOtherSpecified">Specify:<input class="form-control" asp-for="TaughtFactoringInOtherSpecified" /></label>
					<label class="@allColumns">Specify grades:</label>
					<label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m => m.TaughtInOtherGrade6)@Html.Raw(gradeCaption(6))</label>
					<label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m => m.TaughtInOtherGrade7)@Html.Raw(gradeCaption(7))</label>
					<label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m => m.TaughtInOtherGrade8)@Html.Raw(gradeCaption(8))</label>
					<label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m => m.TaughtInOtherGrade9)@Html.Raw(gradeCaption(9))</label>
					<label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m => m.TaughtInOtherGrade10)@Html.Raw(gradeCaption(10))</label>
					<label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m => m.TaughtInOtherGrade11)@Html.Raw(gradeCaption(11))</label>
					<label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m => m.TaughtInOtherGrade12)@Html.Raw(gradeCaption(12))</label>
					<label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m => m.TaughtInOtherCollege)@Html.Raw(gradeCaption(13))</label>

				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">13. In this school year, what math courses require you to teach factoring trinomials?</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@allColumns">Algebra 1:</label>
                    <label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade6)@Html.Raw(gradeCaption(6))</label>
                    <label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade7)@Html.Raw(gradeCaption(7))</label>
                    <label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade8)@Html.Raw(gradeCaption(8))</label>
                    <label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade9)@Html.Raw(gradeCaption(9))</label>
                    <label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade10)@Html.Raw(gradeCaption(10))</label>
                    <label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade11)@Html.Raw(gradeCaption(11))</label>
                    <label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1Grade12)@Html.Raw(gradeCaption(12))</label>
                    <label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra1College)@Html.Raw(gradeCaption(13))</label>
                </div>

                <div class="form-group row secondary-question">
                    <label class="@allColumns">Algebra 2:</label>
                    <label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade6)@Html.Raw(gradeCaption(6))</label>
                    <label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade7)@Html.Raw(gradeCaption(7))</label>
                    <label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade8)@Html.Raw(gradeCaption(8))</label>
                    <label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade9)@Html.Raw(gradeCaption(9))</label>
                    <label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade10)@Html.Raw(gradeCaption(10))</label>
                    <label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade11)@Html.Raw(gradeCaption(11))</label>
                    <label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2Grade12)@Html.Raw(gradeCaption(12))</label>
                    <label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m=> m.TeachingNowInAlgebra2College)@Html.Raw(gradeCaption(13))</label>
                </div>

                <div class="form-group row secondary-question">
                    <label class="@allColumns">Pre-Calculus:</label>
                    <label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade6)@Html.Raw(gradeCaption(6))</label>
                    <label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade7)@Html.Raw(gradeCaption(7))</label>
                    <label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade8)@Html.Raw(gradeCaption(8))</label>
                    <label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade9)@Html.Raw(gradeCaption(9))</label>
                    <label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade10)@Html.Raw(gradeCaption(10))</label>
                    <label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade11)@Html.Raw(gradeCaption(11))</label>
                    <label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusGrade12)@Html.Raw(gradeCaption(12))</label>
                    <label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m=> m.TeachingNowInPrecalculusCollege)@Html.Raw(gradeCaption(13))</label>
                </div>

                <div class="form-group row secondary-question">
                    <label class="@allColumns">Calculus:</label>
                    <label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade6)@Html.Raw(gradeCaption(6))</label>
                    <label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade7)@Html.Raw(gradeCaption(7))</label>
                    <label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade8)@Html.Raw(gradeCaption(8))</label>
                    <label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade9)@Html.Raw(gradeCaption(9))</label>
                    <label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade10)@Html.Raw(gradeCaption(10))</label>
                    <label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade11)@Html.Raw(gradeCaption(11))</label>
                    <label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m=> m.TeachingNowInCalculusGrade12)@Html.Raw(gradeCaption(12))</label>
                    <label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m=> m.TeachingNowInCalculusCollege)@Html.Raw(gradeCaption(13))</label>
                </div>

                <div class="form-group row secondary-question">
                    <label class="@allColumns"><label asp-for="TeachingNowInOtherSpecified">Other:<input class="form-control" asp-for="TeachingNowInOtherSpecified" /></label></label>
                    <label class="checkbox-inline @colByGrade(6)">  @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade6)@Html.Raw(gradeCaption(6))</label>
                    <label class="checkbox-inline @colByGrade(7)">  @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade7)@Html.Raw(gradeCaption(7))</label>
                    <label class="checkbox-inline @colByGrade(8)">  @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade8)@Html.Raw(gradeCaption(8))</label>
                    <label class="checkbox-inline @colByGrade(9)">  @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade9)@Html.Raw(gradeCaption(9))</label>
                    <label class="checkbox-inline @colByGrade(10)"> @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade10)@Html.Raw(gradeCaption(10))</label>
                    <label class="checkbox-inline @colByGrade(11)"> @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade11)@Html.Raw(gradeCaption(11))</label>
                    <label class="checkbox-inline @colByGrade(12)"> @Html.CheckBoxFor(m=> m.TeachingNowInOtherGrade12)@Html.Raw(gradeCaption(12))</label>
                    <label class="checkbox-inline @colByGrade(13)"> @Html.CheckBoxFor(m=> m.TeachingNowInOtherCollege)@Html.Raw(gradeCaption(13))</label>
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">14. What methods of factoring do you introduce to your students?</label>
				</div>

                <div class="form-group row secondary-question">
                    <label>Check all that apply:</label>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodDiff2Squares)Difference of two squares</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodQuadraticFormula)Quadratic formula</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodGuessAndCheck)Guess and check</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodCompletingSquare)Completing the square</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodSquareOfBinomial)Square of binomial</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodGrouping)Grouping</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodCommonFactor)Greatest Common Factor of Monomials</label></div>
                    <div class="checkbox"><label>@Html.CheckBoxFor(m=> m.UsedMethodOther)Other</label></div>
                    <input class="form-control" asp-for="UsedMethodOtherSpecified" placeholder="Other method(s)" />
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">15. Based on your experience, knowledge and beliefs, please evaluate each method of factoring polynomials</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodDiff2Squares">Difference of two squares:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodDiff2Squares, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodQuadraticFormula">Quadratic formula:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodQuadraticFormula, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodGuessAndCheck">Guess and check:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodGuessAndCheck, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodCompletingSquare">Completing the square:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodCompletingSquare, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodSquareOfBinomial">Square of binomial:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodSquareOfBinomial, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodGrouping">Grouping:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodGrouping, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="EvaluateMethodCommonFactor">Greatest Common Factor of Monomials:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodCommonFactor, @scale)@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@gridClassAllColumns" asp-for="EvaluateMethodOtherSpecified">Other method(s):</label>
                    <div class="@scalingLabel"><input class="form-control @scalingLabel" asp-for="EvaluateMethodOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.EvaluateMethodOther, @scale)@effectiveScaleCaption(scale)</label>}
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">16. Do you relate graphs of parabolas when teaching factoring of quadratic equations?</label>
				</div>

                @{
                    var allRow = "nopadding col col-lg-12 col-md-12 col-sm-12 col-xs-12";
                }

                <div class="form-group row secondary-question">
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsNotUsed)No, I do not</label></div>
                    <label class="@allRow">If yes, check all that apply:</label>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsCheckSolutions)To check if the equation has no solutions, one solution or two solutions</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsCheckWork)To check their work</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsHelpGuess)To help students guess the solutions</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsZeroOfParabola)To relate the solutions of the equation to the zeros of parabola</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsFindMinMax)To show how to find min or max for the parabola by completing the squares</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsShowConnections)To show the connections between functions and equations</label></div>
                    <div class="checkbox @allRow"><label>@Html.CheckBoxFor(m=> m.GraphsOther)Other:</label></div>
                    <label class="@allRow"><input class="form-control" asp-for="RelateGraphsOtherSpecified" placeholder="Max 50 characters:" /></label>
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="MostChallengingPart">17. What do you think is the most challenging part of factoring trinomials for students to understand:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="MostChallengingPart" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="WhatToAddToCurriculum">18. What would you ADD to curriculum to make students more successful in factoring trinomials:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="WhatToAddToCurriculum" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="WhatToRemoveFromCurriculum">19. What would you REMOVE from algebra curriculum to make students more successful in mathematics:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="WhatToRemoveFromCurriculum" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="WhatIsSuccessfulTeaching">20. How do you define "successful" teaching:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="WhatIsSuccessfulTeaching" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="@gridClassAllColumns primary-question" asp-for="TeachingSuccess">21. Based on your definition of a success in teaching mathematics, you are successful in teaching factorial trinomials:</label>
					<div class="tertiary-question row">
						@for (var scale = 5; scale >= 1; scale--){
							<label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.TeachingSuccess, @scale)@agreeScaleCaption(scale)</label>}
					</div>
 				</div>

            </div>

        </div>

         <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Part 3. Role of technology in teaching factoring trinomials
            </div>
            <div class="panel-body">

                <div class="form-group row">
					<hr />
					<label class="@gridClassAllColumns primary-question" asp-for="ConfidentWithTechnology">22. You are familiar and confident with using technology in the classroom:</label>
					<div class="tertiary-question row">
						@for (var scale = 5; scale >= 1; scale--){
							<label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.ConfidentWithTechnology, @scale)@agreeScaleCaption(scale)</label>}
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="@gridClassAllColumns primary-question" asp-for="CanTechnologyBeMoreEffective">23. Technology can make teaching factorial trinomials more effective to teach/learn:</label>
					<div class="tertiary-question row">
						@for (var scale = 5; scale >= 1; scale--){
							<label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.CanTechnologyBeMoreEffective, @scale)@agreeScaleCaption(scale)</label>}
					</div>
				</div>

                <div class="form-group row">
					<label class="secondary-question" asp-for="CanTechnologyBeEffectiveComment">Explain:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="CanTechnologyBeEffectiveComment" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">24. You have access to the following technology:</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToGraphingCalculator">Graphing Calculator:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToGraphingCalculator, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToBlackboard">Blackboard:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToBlackboard, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToIpad">iPad:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToIpad, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToGames">Computer games:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToGames, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToSmartBoards">SMART Boards:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToSmartBoards, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToPresentationSoftware">Presentation software:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToPresentationSoftware, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToCloudSharing">Cloud Sharing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToCloudSharing, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToComputerizedTesting">Computerized Testing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToComputerizedTesting, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToSocialMedia">Social Media:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToSocialMedia, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToMultimediaProjector">Multimedia Projector:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToMultimediaProjector, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToClassroomResponseSystem">Classroom Response System:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToClassroomResponseSystem, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToCAI">CAI (Computer-Assisted Instruction):</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToCAI, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToOnlineProjects">Online Projects and Collaboration Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToOnlineProjects, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="AccessToInformationVisualization">Information Visualization Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m=>m.AccessToInformationVisualization, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@gridClassAllColumns" asp-for="AccessToOther">Other:</label>
                    <div class="@scalingLabel"><input class="form-control" asp-for="AccessToOtherSpecified" placeholder="Max 120 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.AccessToOther, @scale)@alwaysScaleCaption(scale)</label>}
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">25. You incorporate the following technology to teach factoring trinomials:</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateGraphingCalculator">Graphing Calculator:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateGraphingCalculator, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateBlackboard">Blackboard:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateBlackboard, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateIpad">iPad:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateIpad, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateGames">Computer games:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateGames, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateSmartBoards">SMART Boards:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateSmartBoards, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporatePresentationSoftware">Presentation software:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporatePresentationSoftware, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateCloudSharing">Cloud Sharing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateCloudSharing, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateComputerizedTesting">Computerized Testing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateComputerizedTesting, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateSocialMedia">Social Media:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateSocialMedia, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateMultimediaProjector">Multimedia Projector:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateMultimediaProjector, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateClassroomResponseSystem">Classroom Response System:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateClassroomResponseSystem, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateCAI">CAI (Computer-Assisted Instruction):</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateCAI, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateOnlineProjects">Online Projects and Collaboration Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateOnlineProjects, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="IncorporateInformationVisualization">Information Visualization Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateInformationVisualization, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@gridClassAllColumns" asp-for="IncorporateOther">Other:</label>
                    <div class="@scalingLabel"><input class="form-control" asp-for="IncorporateOtherSpecified" placeholder="Max 120 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.IncorporateOther, @scale)@alwaysScaleCaption(scale)</label>}
                    </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">26. You use technology to teach the following methods:</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToDifferenceOfSquares">Difference of Squares:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToDifferenceOfSquares, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToQuadraticFormula">Quadratic Formula:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToQuadraticFormula, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToGuessAndCheck">Guess and Check:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToGuessAndCheck, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToCompleteSquare">Completing the Square:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToCompleteSquare, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToSquareOfBinomial">Square of Binomial:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToSquareOfBinomial, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToGrouping">Grouping:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToGrouping, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="UseToCommonFactor">Greatest Common Factor of Monomials:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToCommonFactor, @scale)@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@gridClassAllColumns" asp-for="UseToOtherSpecified">Other:</label>
                    <div class="@scalingLabel"><input class="form-control" asp-for="UseToOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.UseToOther, @scale)@alwaysScaleCaption(scale)</label>}
                    </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question">27. Your goal of incorporating technology to teach factoring trinomials is:</label>
				</div>

                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToComplyToPrincipal">To comply to my principal's requests:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToComplyToPrincipal, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToPresentProblems">To present/simulate problems:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToPresentProblems, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToComputations">To perform computations without mistakes:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToComputations, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToGraph">To graph:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToGraph, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToCheckAnswers">To check answers:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToCheckAnswers, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToStudentKnowledge">To access students' knowledge:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToStudentKnowledge, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToCommunicate">To communicate:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToCommunicate, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToEngageStudents">To engage students:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToEngageStudents, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToIndividualizeLearning">To individualize learning:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToIndividualizeLearning, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToDifferentReprentations">To introduce different representations of functions:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToDifferentReprentations, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@scalingLabel" asp-for="GoalToTeachTechnology">To teach students how to use technology:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToTeachTechnology, @scale)@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row secondary-question">
                    <label class="@gridClassAllColumns" asp-for="GoalToOtherSpecified">Other:</label>
                    <div class="@scalingLabel"><input class="form-control @scalingLabel" asp-for="GoalToOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadio">@Html.RadioButtonFor(m => m.GoalToOther, @scale)@agreeScaleCaption(scale)</label>}
                </div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="WhatCanTheyDoBetterWithTechnology">28. What, if anything, can your students do better as the result of their access to the technology, that would be very difficult or impossible otherwise:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="WhatCanTheyDoBetterWithTechnology" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

                <div class="form-group row">
					<hr />
					<label class="primary-question" asp-for="WhatCanTheyNotDoBetterWithTechnology">29. What, if anything, the technology cannot bring any advantage to:</label>
					<div class="secondary-question">
						<textarea class="form-control" rows="2" asp-for="WhatCanTheyNotDoBetterWithTechnology" placeholder="Max 240 characters"></textarea>
					</div>
 				</div>

            </div>

        </div>



        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Submit Your Survey
            </button>
        </div>
		<p><br /></p>
    </form>

    <!-- This section prevents the Enter key from submitting the form -->
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>

    <script type="text/javascript">

        $("form").keypress(function (event) {
            if (event.keyCode == 13 && ($(event.target)[0] != $("textarea")[0])) {
                return false;
            }
        });
    </script>

</body>
</html>
