@model FactoringSurvey.Models.SurveyResponse

@{
    Layout = null;
}

@using FactoringSurvey.Models;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Form</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Trinomials Factoring Teaching Survey</h4>
        </div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="SurveyForm" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Name">Your name:</label>
                    <input class="form-control" asp-for="Name" placeholder="Your name" />
                </div>

                <div class="form-group">
                    <label asp-for="Country">Your country:</label>
                    <input class="form-control" asp-for="Country" placeholder="Your country" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Your email:</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Your email" />
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Your gender:</label>
                    @foreach (var opt in EnumOptions.Genders)
                    {
                        bool checkedAttr = opt.Value == EnumOptions.Unspecified;
                        <label class="radio-inline">
                            <input asp-for="Gender" type="radio" name="gender" value="@opt.Value" checked="@checkedAttr" >@opt.Description</label>
                    }
                </div>

                <div class="form-group">
                    <label asp-for="Age">Your age:</label>
                    @foreach (var opt in EnumOptions.Ages)
                    {
                        bool checkedAttr = opt.Value == EnumOptions.Unspecified;
                        <label class="radio-inline">
                        <input asp-for="Age" type="radio" name="age" value="@opt.Value" checked="@checkedAttr" >@opt.Description</label>
                    }
                </div>

                <div class="form-group">
                    <label asp-for="SchoolName">Your current school name:</label>
                    <input class="form-control" asp-for="SchoolName" placeholder="Current school name" />
                </div>

                <div class="form-group">
                    <label asp-for="MathQualification">Your highest qualification to teach mathematics:</label>
                    <input class="form-control" asp-for="MathQualification" placeholder="Your qualification" />
                </div>

                <div class="form-group">
                    <label asp-for="YearsOfTeachingMath">Years of teaching mathematics:</label>
                    <input class="form-control" asp-for="YearsOfTeachingMath" placeholder="Years of teaching math" />
                </div>

                <div class="form-group">
                    <label>What grade have you taught mathematics:</label>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade6" value="false">6<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade7" value="false">7<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade8" value="false">8<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade9" value="false">9<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade10" value="false">10<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade11" value="false">11<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGrade12" value="false">12<sup>th</sup></label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingGradeCollege" value="false">College</label></div>
                </div>

                <div class="form-group">
                    <label>What course(s) are you currently teaching:</label>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseBasic" value="false">Basic Math</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCoursePreAlgebra" value="false">Pre-Algebra</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseAlgebra1" value="false">Algebra 1</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseIntegrated" value="false">Integrated Math</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseAlgebra2" value="false">Algebra 2</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCoursePreCalculus" value="false">Pre-Calculus</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseCalculus" value="false">Calculus</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseProbability" value="false">Probability and Statistics</label></div>
                </div>


                <div class="form-group">
                    <label asp-for="Comment">Your comments:</label>
                    <textarea class="form-control" rows="3" asp-for="Comment" placeholder="Max 240 characters"></textarea>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit Your Survey
                    </button>
                </div>

</form>
        </div>
    </div>

</body>
</html>
