@model FactoringSurvey.Models.SurveyResponse

@{
    Layout = null;
}

@using FactoringSurvey.Models;


@{
        var gradeCaption = new Func<int, string>((gradeIndex) =>
        {
            switch (gradeIndex)
            {
                case 0:
                case 4:
                case 5:
                case 6:
                case 7:
                case 8:
                case 9:
                case 10:
                case 11:
                case 12:
                    return string.Format("{0}<sup>th</sup>", gradeIndex);
                case 1:
                    return "1<sup>st</sup>";
                case 2:
                    return "2<sup>nd</sup>";
                case 3:
                    return "3<sup>rd</sup>";
                case 13:
                    return "College and higher";
                default:
                    return gradeIndex.ToString();

            }
        });

        var agreeScaleCaption = new Func<int, string>((scale)=>
        {
            switch(scale)
            {
                case 5: return "Strongly Agree";
                case 4: return "Agree";
                case 3: return "Neutral";
                case 2: return "Disagree";
                case 1: return "Strongly Disagree";
                default: return "Neutral";

            }
        });

        var alwaysScaleCaption = new Func<int, string>((scale) =>
        {
            switch (scale)
            {
                case 5: return "Always";
                case 4: return "Usually";
                case 3: return "About half the Time";
                case 2: return "Rarely";
                case 1: return "Never";
                default: return "Always";

            }
        });

        var effectiveScaleCaption = new Func<int, string>((scale) =>
        {
            switch (scale)
            {
                case 4: return "Effective";
                case 3: return "Mixed Results";
                case 2: return "I do not know";
                case 1: return "Not effective";
                case 0: return "Not used";
                default: return "???";

            }
        });

        var scalingRadioLabelGridClass = "col col-lg-4 col-md-12 col-sm-12 col-xs-12";
        var scalingRadioInputGridClass = "col col-lg-1 col-md-4 col-sm-4 col-xs-12";
        var gridClassAllColumns = "col col-lg-12 col-md-12 col-sm-12 col-xs-12";
        var allColumns = gridClassAllColumns;

        var colByGrade = new Func<int, string>((grade)=>(grade==SurveyResponse.GradeCount - 1) ? "col col-lg-3 col-md-3 col-sm-12 col-xs-12" : "col col-lg-1 col-md-3 col-sm-12 col-xs-12");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Form</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style type="text/css">
        .radio-inline + .radio-inline {
            margin-left: 16px;
        }
        .radio-inline {
            margin-left: 16px; 
            }
        .checkbox-inline + .checkbox-inline {
            margin-left: 16px;
        }
        .checkbox-inline {
            margin-left: 16px; 
            }

        .nobold {
            font-weight:normal;
        }

    </style>
</head>
<body>
    <div class="panel panel-info container">
        <div class="panel-heading text-center">
            Survey
        </div>
        <div class="panel-body text-center alert-info">
            <em>For teachers, educators and researchers who have an opinion about teaching factoring trinomials</em>
        </div>
    </div>

    <form class="p-a-1" asp-action="SurveyForm" method="post">

        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Your Background
            </div>
            <div class="panel-body">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Name">Your name:</label>
                    <input class="form-control" asp-for="Name" placeholder="Your name" />
                </div>

                <div class="form-group">
                    <label asp-for="Country">Your country:</label>
                    <input class="form-control" asp-for="Country" placeholder="Your country" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Your email:</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Your email" />
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="Gender">Your gender:</label>
                    @foreach (var opt in EnumOptions.Genders)
                    {
                        <label class="radio-inline col-lg-1 col-md-2 col-sm-12 col-xs-12">
                            <input asp-for="Gender" type="radio" name="gender" value="@opt.Value">@opt.Description
                        </label>
                    }
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="Age">Your age:</label>
                    @foreach (var opt in EnumOptions.Ages)
                    {
                        <label class="radio-inline col-lg-1 col-md-2 col-sm-12 col-xs-12">
                            <input asp-for="Age" type="radio" name="age" value="@opt.Value">@opt.Description
                        </label>}
                </div>

                <div class="form-group">
                    <label asp-for="SchoolName">Your current school name:</label>
                    <input class="form-control" asp-for="SchoolName" placeholder="Current school name" />
                </div>

                <div class="form-group">
                    <label asp-for="MathQualification">Your highest qualification to teach mathematics:</label>
                    <input class="form-control" asp-for="MathQualification" placeholder="Your qualification" />
                </div>

                <div class="form-group">
                    <label>Which of the following university level courses did you take before becoming a mathematics teacher (check all that apply):</label>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookMathForSecondary" value="false">Math for secondary teachers</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookMathForHighSchool" value="false">Math for high school</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookGeometryForTeachers" value="false">Geometry for teachers</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookMathMethods" value="false">Math methods course</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookPrecalculus" value="false">Pre-calculus</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookCalculus1" value="false">Calculus I</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookCalculus2" value="false">Calculus II</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookCalculus3" value="false">Calculus III</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookMathHistory" value="false">History of Mathematics</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TookAbstractAlgebra" value="false">Abstract Algebra</label></div>
                </div>

                <div class="form-group">
                    <label asp-for="YearsOfTeachingMath">Years of teaching mathematics:<input class="form-control" asp-for="YearsOfTeachingMath" placeholder="Years of teaching math" /></label>
                    
                </div>

                <div class="form-group row">
                    <label class="@gridClassAllColumns">What grade have you taught mathematics (check all that apply):</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtGrade[grade]">@Html.Raw(gradeCaption(grade))</label>}
                </div>

                <div class="form-group">
                    <label>What course(s) are you currently teaching (check all that apply):</label>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseBasic" value="false">Basic Math</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCoursePreAlgebra" value="false">Pre-Algebra</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseAlgebra1" value="false">Algebra 1</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseIntegrated" value="false">Integrated Math</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseAlgebra2" value="false">Algebra 2</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCoursePreCalculus" value="false">Pre-Calculus</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseCalculus" value="false">Calculus</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="TeachingCourseProbability" value="false">Probability and Statistics</label></div>
                    <label asp-for="CourseOther">Other:</label>
                    <input class="form-control" asp-for="CourseOther" placeholder="Other course(s)" />
                </div>
            </div>
        </div>

        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                How many years have you taught trinomials?
            </div>
            <div class="panel-body">

                <!-- Question 12 -->
                <div class="form-group row">
                    <label class="checkbox @gridClassAllColumns"><input type="checkbox" asp-for="NotTaughtTrinomials">No, I have not taught factoring trinomials before</label>
                    <label class="@gridClassAllColumns nobold">If yes, put numbers of years next to courses below and corresponding grade levels.</label>
                </div>
                <div class="form-group row">
                    <label asp-for="TaughtFactoringInAlgebra1Years">Algebra 1 (# of years):<input class="form-control" asp-for="TaughtFactoringInAlgebra1Years" /></label>
                    <label class="@allColumns nobold">Specify grades:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++){
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtFactoringInAlgebra1Grades[grade]">@Html.Raw(gradeCaption(grade))</label>}
                </div>

                <div class="form-group row">
                    <label asp-for="TaughtFactoringInAlgebra2Years">Algebra 2 (# of years):<input class="form-control" asp-for="TaughtFactoringInAlgebra2Years" /></label>
                    <label class="@allColumns nobold">Specify grades:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++){
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtFactoringInAlgebra2Grades[grade]">@Html.Raw(gradeCaption(grade))</label>}
                </div>

                <div class="form-group row">
                    <label asp-for="TaughtFactoringInPrecalculusYears">Pre-Calculus (# of years):<input class="form-control" asp-for="TaughtFactoringInPrecalculusYears" /></label>
                    <label class="@allColumns nobold">Specify grades:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++){
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtFactoringInPrecalculusGrades[grade]">@Html.Raw(gradeCaption(grade))</label>}
                </div>

                <div class="form-group row">
                    <label asp-for="TaughtFactoringInCalculusYears">Calculus (# of years):<input class="form-control" asp-for="TaughtFactoringInCalculusYears" /></label>
                    <label class="@allColumns nobold">Specify grades:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++){
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtFactoringInCalculusGrades[grade]">@Html.Raw(gradeCaption(grade))</label>}
                </div>

                <div class="form-group row">
                    <label asp-for="TaughtFactoringInOtherYears">Other (# of years):<input class="form-control" asp-for="TaughtFactoringInOtherYears" /></label>
                    <label class="nobold" asp-for="TaughtFactoringInOtherSpecified">Specify:<input class="form-control" asp-for="TaughtFactoringInOtherSpecified" /></label>
                    <label class="@allColumns nobold">Specify grades:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TaughtFactoringInOtherGrades[grade]">@Html.Raw(gradeCaption(grade))</label>}

                </div>
            </div>
        </div>

        <!-- Question 13 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                In this school year, what math courses require you to teach factoring trinomials?
            </div>
            <div class="panel-body">

                <div class="form-group row">
                    <label class="@allColumns">Algebra 1:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TeachingNowInAlgebra1Grades[grade]">@Html.Raw(gradeCaption(grade))</label>
                    }
                </div>

                <div class="form-group row">
                    <label class="@allColumns">Algebra 2:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TeachingNowInAlgebra2Grades[grade]">@Html.Raw(gradeCaption(grade))</label>
                    }
                </div>

                <div class="form-group row">
                    <label class="@allColumns">Pre-Calculus:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TeachingNowInPrecalculusGrades[grade]">@Html.Raw(gradeCaption(grade))</label>
                    }
                </div>

                <div class="form-group row">
                    <label class="@allColumns">Calculus:</label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TeachingNowInCalculusGrades[grade]">@Html.Raw(gradeCaption(grade))</label>
                    }
                </div>

                <div class="form-group row">
                    <label class="@allColumns"><label asp-for="TeachingNowInOtherSpecified">Other:<input class="form-control" asp-for="TeachingNowInOtherSpecified" /></label></label>
                    @for (var grade = 6; grade < SurveyResponse.GradeCount; grade++)
                    {
                        <label class="checkbox-inline @colByGrade(grade)"><input type="checkbox" asp-for="TeachingNowInOtherGrades[grade]">@Html.Raw(gradeCaption(grade))</label>
                    }
                </div>
            </div>
        </div>

        <!-- Question 14 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                What methods of factoring do you introduce to your students?
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Check all that apply:</label>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodDiff2Squares">Difference of two squares</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodQuadraticFormula">Quadratic formula</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodGuessAndCheck">Guess and check</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodCompletingSquare">Completing the square</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodSquareOfBinomial">Square of binomial</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodGrouping">Grouping</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodCommonFactor">Greatest Common Factor of Monomials</label></div>
                    <div class="checkbox"><label><input type="checkbox" asp-for="UsedMethodOther">Other</label></div>
                    <input class="form-control" asp-for="UsedMethodOtherSpecified" placeholder="Other method(s)" />
                </div>

            </div>
        </div>

        <!-- Question 15 -->
       <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Evaluate the methods of factoring below
            </div>
            <div class="panel-body">

                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodDiff2Squares">Difference of two squares:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodDiff2Squares" type="radio" name="eval1" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodQuadraticFormula">Quadratic formula:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodQuadraticFormula" type="radio" name="eval2" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodGuessAndCheck">Guess and check:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodGuessAndCheck" type="radio" name="eval3" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodCompletingSquare">Completing the square:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodCompletingSquare" type="radio" name="eval4" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodSquareOfBinomial">Square of binomial:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodSquareOfBinomial" type="radio" name="eval5" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodGrouping">Grouping:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodGrouping" type="radio" name="eval6" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="EvaluateMethodCommonFactor">Greatest Common Factor of Monomials:</label>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodCommonFactor" type="radio" name="eval7" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="EvaluateMethodOtherSpecified">Other method(s):</label>
                    <div class="@scalingRadioLabelGridClass"><input class="form-control @scalingRadioLabelGridClass" asp-for="EvaluateMethodOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = EnumOptions.EvalEffective; scale >= EnumOptions.EvalNotEffective; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="EvaluateMethodOther" type="radio" name="eval8" value="@scale">@effectiveScaleCaption(scale)</label>}
                </div>
            </div>

        </div>

        <!-- Question 16 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Do you relate graphs of parabolas when teaching factoring of quadratic equations?
            </div>
            <div class="panel-body">

                @{
                    var allRow = "col col-lg-12 col-md-12 col-sm-12 col-xs-12";
                }

                <div class="form-group row">
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsNotUsed">No, I do not</label></div>
                    <label class="@allRow">If yes, check all that apply:</label>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsCheckSolutions">To check if the equation has no solutions, one solution or two solutions</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsCheckWork">To check their work</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsHelpGuess">To help students guess the solutions</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsZeroOfParabola">To relate the solutions of the equation to the zeros of parabola</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsFindMinMax">To show how to find min or max for the parabola by completing the squares</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsShowConnections">To show the connections between functions and equations</label></div>
                    <div class="checkbox @allRow"><label><input type="checkbox" asp-for="GraphsOther">Other:</label></div>
                    <label class="@allRow"><input class="form-control" asp-for="RelateGraphsOtherSpecified" placeholder="Max 50 characters:" /></label>
                </div>

            </div>
        </div>


        <!-- Question 17-21 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Successful teaching
            </div>
            <div class="panel-body">

                <!-- question 17-->
                <div class="form-group">
                    <label asp-for="MostChallengingPart">What do you think is the most challenging part of factoring trinomials for students to understand:</label>
                    <textarea class="form-control" rows="2" asp-for="MostChallengingPart" placeholder="Max 240 characters"></textarea>
                </div>
                <!-- question 18-->
                <div class="form-group">
                    <label asp-for="WhatToAddToCurriculum">What would you ADD to curriculum to make students more successful in factoring trinomials:</label>
                    <textarea class="form-control" rows="2" asp-for="WhatToAddToCurriculum" placeholder="Max 240 characters"></textarea>
                </div>
                <!-- question 19 -->
                <div class="form-group">
                    <label asp-for="WhatToRemoveFromCurriculum">What would you REMOVE from curriculum to make students more successful in mathematics:</label>
                    <textarea class="form-control" rows="2" asp-for="WhatToRemoveFromCurriculum" placeholder="Max 240 characters"></textarea>
                </div>
                <!-- question 20-->
                <div class="form-group">
                    <label asp-for="WhatIsSuccessfulTeaching">How do you define "successful" teaching:</label>
                    <textarea class="form-control" rows="2" asp-for="WhatIsSuccessfulTeaching" placeholder="Max 240 characters"></textarea>
                </div>
                <!-- question 21-->
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="TeachingSuccess">Are you successful in teching factorial trinomials:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass">
                            <input asp-for="TeachingSuccess" type="radio" name="TeachingSuccess" value="@scale">@agreeScaleCaption(scale)
                        </label>
                    }
                </div>

            </div>

        </div>

        <!-- Question 22-23 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                Confidence in technology
            </div>
            <div class="panel-body">

                <!-- Question 22 -->
                <div class="form-group row">
                    <label class="@allColumns" asp-for="ConfidentWithTechnology">I am familiar and confident with using technology in my classroom:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass">
                            <input asp-for="ConfidentWithTechnology" type="radio" name="confident" value="@scale">@agreeScaleCaption(scale)
                        </label>
                    }
                </div>
                <!-- Question 23 -->
                <div class="form-group row">
                    <label class="@allColumns" asp-for="CanTechnologyBeMoreEffective">Technology can make teaching factorial trinomials more effective to teach/learn:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass">
                            <input asp-for="CanTechnologyBeMoreEffective" type="radio" name="effective" value="@scale">@agreeScaleCaption(scale)
                        </label>
                    }
                </div>
                <div class="form-group row">
                    <label asp-for="CanTechnologyBeEffectiveComment">Explain:</label>
                    <textarea class="form-control" rows="2" asp-for="CanTechnologyBeEffectiveComment" placeholder="Max 240 characters"></textarea>
                </div>
            </div>

        </div>


        <!-- Question 24 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                I have access to the following technology
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToGraphingCalculator">Graphing Calculator:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToGraphingCalculator" type="radio" name="access1" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToBlackboard">Blackboard:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToBlackboard" type="radio" name="access2" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToIpad">iPad:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToIpad" type="radio" name="access3" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToGames">Computer games:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToGames" type="radio" name="access4" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToSmartBoards">SMART Boards:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToSmartBoards" type="radio" name="access5" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToPresentationSoftware">Presentation software:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToPresentationSoftware" type="radio" name="access6" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToCloudSharing">Cloud Sharing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToCloudSharing" type="radio" name="access7" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToComputerizedTesting">Computerized Testing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToComputerizedTesting" type="radio" name="access8" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToSocialMedia">Social Media:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToSocialMedia" type="radio" name="access9" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToMultimediaProjector">Multimedia Projector:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToMultimediaProjector" type="radio" name="access10" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToClassroomResponseSystem">Classroom Response System:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToClassroomResponseSystem" type="radio" name="access11" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToCAI">CAI (Computer-Assisted Instruction):</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToCAI" type="radio" name="access12" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToOnlineProjects">Online Projects and Collaboration Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--) {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToOnlineProjects" type="radio" name="access13" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="AccessToInformationVisualization">Information Visualization Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToInformationVisualization" type="radio" name="access14" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="AccessToOther">Other:</label>
                    <div class="@scalingRadioLabelGridClass"><input class="form-control" asp-for="AccessToOtherSpecified" placeholder="Max 120 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="AccessToOther" type="radio" name="access15" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
            </div>

        </div>


        <!-- Question 25 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                I incorporate the following technology to teach factoring trinomials
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateGraphingCalculator">Graphing Calculator:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateGraphingCalculator" type="radio" name="incorp1" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateBlackboard">Blackboard:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateBlackboard" type="radio" name="incorp2" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateIpad">iPad:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateIpad" type="radio" name="incorp3" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateGames">Computer games:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateGames" type="radio" name="incorp4" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateSmartBoards">SMART Boards:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateSmartBoards" type="radio" name="incorp5" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporatePresentationSoftware">Presentation software:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporatePresentationSoftware" type="radio" name="incorp6" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateCloudSharing">Cloud Sharing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateCloudSharing" type="radio" name="incorp7" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateComputerizedTesting">Computerized Testing:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateComputerizedTesting" type="radio" name="incorp8" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateSocialMedia">Social Media:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateSocialMedia" type="radio" name="incorp9" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateMultimediaProjector">Multimedia Projector:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateMultimediaProjector" type="radio" name="incorp10" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateClassroomResponseSystem">Classroom Response System:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateClassroomResponseSystem" type="radio" name="incorp11" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateCAI">CAI (Computer-Assisted Instruction):</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateCAI" type="radio" name="incorp12" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateOnlineProjects">Online Projects and Collaboration Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateOnlineProjects" type="radio" name="incorp13" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="IncorporateInformationVisualization">Information Visualization Tools:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateInformationVisualization" type="radio" name="incorp14" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="IncorporateOther">Other:</label>
                    <div class="@scalingRadioLabelGridClass"><input class="form-control" asp-for="IncorporateOtherSpecified" placeholder="Max 120 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="IncorporateOther" type="radio" name="incorp15" value="@scale">@alwaysScaleCaption(scale)</label>}
                    </div>
            </div>

        </div>

        <!-- Question 26 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                I use technology to teach the following methods
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToDifferenceOfSquares">Difference of Squares:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToDifferenceOfSquares" type="radio" name="method7" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToQuadraticFormula">Quadratic Formula:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToQuadraticFormula" type="radio" name="method8" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToGuessAndCheck">Guess and Check:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToGuessAndCheck" type="radio" name="method9" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToCompleteSquare">Completing the Square:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToCompleteSquare" type="radio" name="method10" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToSquareOfBinomial">Square of Binomial:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToSquareOfBinomial" type="radio" name="method11" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToGrouping">Grouping:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToGrouping" type="radio" name="method12" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="UseToCommonFactor">Greatest Common Factor of Monomials:</label>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToCommonFactor" type="radio" name="method13" value="@scale">@alwaysScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="UseToOtherSpecified">Other:</label>
                    <div class="@scalingRadioLabelGridClass"><input class="form-control" asp-for="UseToOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--){
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="UseToOther" type="radio" name="method15" value="@scale">@alwaysScaleCaption(scale)</label>}
                    </div>
            </div>

        </div>

        <!-- Question 27 -->
        <div class="panel panel-primary container">
            <div class="panel-heading text-left">
                My goal of incorporating technology to teach factoring trinomials is
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToComplyToPrincipal">To comply to my principal's requests:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToComplyToPrincipal" type="radio" name="goal1" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToPresentProblems">To present/simulate problems:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToPresentProblems" type="radio" name="goal2" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToComputations">To perform computations without mistakes:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToComputations" type="radio" name="goal3" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToGraph">To graph:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToGraph" type="radio" name="goal4" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToCheckAnswers">To check answers:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToCheckAnswers" type="radio" name="goal5" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToStudentKnowledge">To access students' knowledge:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToStudentKnowledge" type="radio" name="goal6" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToCommunicate">To communicate:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToCommunicate" type="radio" name="goal7" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToEngageStudents">To engage students:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToEngageStudents" type="radio" name="goal8" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToIndividualizeLearning">To individualize learning:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToIndividualizeLearning" type="radio" name="goal9" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToDifferentReprentations">To introduce different representations of functions:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToDifferentReprentations" type="radio" name="goal10" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                <div class="form-group row">
                    <label class="@scalingRadioLabelGridClass" asp-for="GoalToTeachTechnology">To teach students how to use technology:</label>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToTeachTechnology" type="radio" name="goal11" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
                 <div class="form-group row">
                    <label class="@gridClassAllColumns" asp-for="GoalToOtherSpecified">Other:</label>
                    <div class="@scalingRadioLabelGridClass"><input class="form-control @scalingRadioLabelGridClass" asp-for="GoalToOtherSpecified" placeholder="Max 80 characters" /></div>
                    @for (var scale = 5; scale >= 1; scale--)
                    {
                        <label class="radio-inline @scalingRadioInputGridClass"><input asp-for="GoalToOther" type="radio" name="goal12" value="@scale">@agreeScaleCaption(scale)</label>}
                </div>
            </div>

        </div>



        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Submit Your Survey
            </button>
        </div>
		<p><br /></p>
    </form>

	<script type="text/javascript">

		$("form").keypress(function (event) {
			if (event.keyCode == 13 && ($(event.target)[0]!=$("textarea")[0])) {
				return false;
			}
		});
	</script>

</body>
</html>
